@{
    ViewData["Title"] = "TimeLine";
    List<Angle.Models.ViewModels.ProductHistoryViewModels.ProductHistoryViewModelDetail> histories = ViewBag.histories;
}
@model LUNA.Models.Product



@section styles{
    <link rel="stylesheet" href="~/vendor/fortawesome/fontawesome-free/css/brands.css">
    <link rel="stylesheet" href="~/vendor/fortawesome/fontawesome-free/css/regular.css">
    <link rel="stylesheet" href="~/vendor/fortawesome/fontawesome-free/css/solid.css">
    <link rel="stylesheet" href="~/vendor/fortawesome/fontawesome-free/css/fontawesome.css"><!-- SIMPLE LINE ICONS-->
    <link rel="stylesheet" href="~/vendor/simple-line-icons/css/simple-line-icons.css"><!-- ANIMATE.CSS-->
    <link rel="stylesheet" href="~/vendor/animate.css/animate.css"><!-- WHIRL (spinners)-->
    <link rel="stylesheet" href="~/vendor/whirl/dist/whirl.css"><!-- =============== PAGE VENDOR STYLES ===============-->
    <!-- =============== BOOTSTRAP STYLES ===============-->
    <link rel="stylesheet" href="~/css/bootstrap.css" id="bscss"><!-- =============== APP STYLES ===============-->
    <link rel="stylesheet" href="css/app.css" id="maincss">
    <link rel="stylesheet" href="~/css/timeline.css" id="maincss">
}


<div class="content-heading">
    <div>Time Line <small></small></div>
</div>

                <div id="addHistory" class="card collapse">
                    <div class="card-header">
                        <div class="card-title" id="productDescription">Add an History to: @Model.SerialNumber  @Model.Type.Description</div>
                        <div class="text-sm"></div>
                    </div>
                    <div class="card-body">
                        <form id="formproducthistory" asp-controller="Product" asp-action="AddHistory">
                            <input type="hidden" id="useremail" name="Email" value="@User.Identity.Name" />
                            <input id="productID" type="hidden" name="ProductID" value="@Model.ID" />
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Product History</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <select id="historytypes" name="HistoryID" class="form-control">
                                        @foreach (LUNA.Models.History history in @ViewBag.HistoryType)
                                        {
                                            <option value="@history.ID" class="bg-@history.BootStrapBadge-light"> @history.Description </option>
                                        }
                                    </select>
                                    <span class="field-validation-error">  </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                    Comment <span class="required">*</span>
                                </label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <textarea name="Comment" id="comment" required="required" class="form-control"></textarea>
                                    <span class="field-validation-error"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <a href="#addHistory" data-toggle="collapse" class="btn btn-primary">Cancel</a>
                                    <button id="buttonhistory" type="submit" class="btn btn-success">Submit</button>
                                </div>
                                <span class="text-success float-right" id="historyaddedsuccess"></span>
                            </div>
                        </form>
                    </div>
                </div>
<div id="historytable">
<!-- ul.timeline-alt-->
<ul class="timeline">

    @{
        string now = "";
        
        int counter = 0;
        foreach (var history in histories)
        {
            if(now != @history.History.Date.ToString("dd/MM/yyyy")) {<text> <li class="timeline-separator" data-datetime="@history.History.Date.ToString("dd/MM/yyyy")"></li> </text> };
            if (counter % 2 == 0)
            {
                    @:<li>
                    }
                    else
                    {
                        @:<li class="timeline-inverted">
}
<text><div class="timeline-badge @history.History.History.BootStrapBadge"><em class=""></em></div>
    <div class="timeline-card">
        <div class="popover @if (counter % 2 == 0) {<text>right</text> } else { <text>left</text> } ">
            <h4 class="popover-header">@history.History.History.Description<small class="float-right">@history.History.Date.ToString("HH:mm")</small> </h4>
            <div class="arrow"></div>
            <div class="popover-body">
                <p>@history.History.Comment</p><small><a><em class="fa fa-user mr-2"></em> @history.UserName</a></small>
            </div>
        </div>
    </div>
</text>

@:</li>
              

                now = history.History.Date.ToString("dd/MM/yyyy");
                counter++;
            }

        }


        <!-- START timeline item-->
        <li class="timeline-end"><a class="timeline-badge" role="button" aria-expanded="false" data-toggle="collapse"  href="#addHistory"><em class="fa fa-plus"></em></a></li><!-- END timeline item-->
    </ul><!-- END timeline-->
</div>





@section scripts{
    <script src="~/vendor/modernizr/modernizr.custom.js"></script><!-- STORAGE API-->
    <script src="~/vendor/js-storage/js.storage.js"></script><!-- SCREENFULL-->
    <script src="~/vendor/screenfull/dist/screenfull.js"></script><!-- i18next-->
    <script src="~/vendor/i18next/i18next.js"></script>
    <script src="~/vendor/i18next-xhr-backend/i18nextXHRBackend.js"></script>
    <script src="~/vendor/jquery/dist/jquery.js"></script>
    <script src="~/vendor/popper.js/dist/umd/popper.js"></script>
    <script src="~/vendor/bootstrap/dist/js/bootstrap.js"></script><!-- =============== PAGE VENDOR SCRIPTS ===============-->
    <script>
    <!-- =============== APP SCRIPTS ===============-->
                  // Function for dynamicly adding a new story and reload partial view
                $('#buttonhistory').click(function (evt) {
                    evt.preventDefault();
                    $('#historyaddedsuccess').html("");
                    $.ajax({
                        type: "POST",
                        url: '/Product/QuickAddHistory',
                        data: $('#formproducthistory').serialize(),
                        dataType: 'application/json',
                        async:false,
                        cache: false,
                        success: function (data, status) {
                            alert("Hello");
                        },
                        error: function (data, status) {

                        },
                    });
                    console.log($('#formproducthistory').serialize());
                    $('#historyaddedsuccess').html("History was succesfully added");
                    var url = '@Url.Action("_TimeLine", "Product", new { id = Model.ID})';
                     location.reload();
                });

        </script>
}






