@model IEnumerable<Angle.Models.ViewModels.ProductHistoryViewModels.ProductHistoryViewModelSimple>

<!--  PRODUCT HISTORY VIEW!!!   -->

@{
    ViewData["Title"] = "Products Histories";
}

@section styles{
    <link rel="stylesheet" href="~/vendor/datatables.net-bs4/css/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="~/vendor/datatables.net-keytable-bs/css/keyTable.bootstrap.css">
    <link rel="stylesheet" href="~/vendor/datatables.net-responsive-bs/css/responsive.bootstrap.css">
    <link rel="stylesheet" href="~/vendor/chosen-js/chosen.css">
    <style>
        .filters input {
            width: 100%;
            padding: 3px;
            box-sizing: border-box;
        }
    </style>

}

@section scripts{
    <script src="~/vendor/datatables.net/js/jquery.dataTables.js"></script>
    <script src="~/vendor/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
    <script src="~/vendor/datatables.net-buttons/js/dataTables.buttons.js"></script>
    <script src="~/vendor/datatables.net-buttons-bs/js/buttons.bootstrap.js"></script>
    <script src="~/vendor/datatables.net-buttons/js/buttons.colVis.js"></script>
    <script src="~/vendor/datatables.net-buttons/js/buttons.flash.js"></script>
    <script src="~/vendor/datatables.net-buttons/js/buttons.html5.js"></script>
    <script src="~/vendor/datatables.net-buttons/js/buttons.print.js"></script>
    <script src="~/vendor/datatables.net-keytable/js/dataTables.keyTable.js"></script>
    <script src="~/vendor/datatables.net-responsive/js/dataTables.responsive.js"></script>
    <script src="~/vendor/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/vendor/jszip/dist/jszip.js"></script>
    <script src="~/vendor/pdfmake/build/pdfmake.js"></script>
    <script src="~/vendor/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/master/js/custom/producthistory.js"></script>
    <script src="~/vendor/chosen-js/chosen.jquery.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("select").chosen();
            $("chosen-select").chosen();

        });

        $("#historytypes").chosen({ width: '200px' });
        $("#badgecolor").chosen({ width: '100px' });
        function EditHistoryInformation(productId, datetime, creatorEmail, historyId, comment) {
            document.getElementById("productID").value = productId;
            $("#historytypes").val(historyId).trigger("chosen:updated");
            document.getElementById("userEmail").value = creatorEmail;
            document.getElementById("dateTime").value = datetime;
            document.getElementById("comment").value = comment;

        }
    </script>

}

<div class="content-heading">
    <div>Product Histories<small></small></div>
</div>
<div class="container-fluid">
    <div id="addHistory" class="card collapse">
        <div class="card-header">
            <div class="card-title" id="productDescription"></div>
            <div class="text-sm"></div>
        </div>
        <div class="card-body">
            <form asp-controller="ProductHistory" asp-action="Edit">
                <input id="userEmail" type="hidden" name="Email" value="@User.Identity.Name" />
                <input id="productID" type="hidden" name="ProductID" value="" />
                <input id="dateTime" type="hidden" name="DateTimeNow" value="" />
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Product History</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <select readonly id="historytypes" name="HistoryID" class="form-control">
                            @foreach (LUNA.Models.History history in @ViewBag.HistoryType)
                            {
                                <option value="@history.ID" class="bg-@history.BootStrapBadge-light"> @history.Description </option>
                            }
                        </select>
                        <span class="field-validation-error"> <a href="#addHistorytype" data-toggle="collapse">add</a>  </span>
                    </div>

                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                        Comment <span class="required">*</span>
                    </label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <textarea name="Comment" id="comment" required="required" class="form-control"></textarea>
                        <span class="field-validation-error"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <button href="#addHistory" data-toggle="collapse" class="btn btn-primary">Cancel</button>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--  Productlist card-->
    <div class="card">
        <div class="card-header">
            <div class="card-title">List of all Products Histories</div>
            <div class="text-sm"></div>
        </div>
        <div class="card-body">
            <div id="printbuttons"></div><br />
            <div id="togglecolumn" class="btn-group-toggle" data-toggle="buttons">
                <!-- See master/js/datatable.js at the end of file for toggle button function-->
            </div>
            <table class="table table-striped my-4 w-100" id="datatable4">
                <thead>
                    <tr class="tableheader">
                        <th>Status</th>
                        <th>Comment</th>
                        <th>Product</th>
                        <th>Date</th>
                        <th>User</th>
                        <th>Serial Number</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var productHistory in Model)
                    {
                        <tr>
                            <td>
                                <div class="badge badge-@productHistory.History.History.BootStrapBadge">
                                    @try
                                    {@productHistory.History.History.Description}
                                catch { }
                                </div>
                            </td>
                            <td>
                                @try
                                {@productHistory.History.Comment}
                            catch { }
                            </td>
                            <td>
                                @try
                                {@productHistory.History.Product.Description}
                            catch { }
                            </td>
                            <td>
                                @try
                                {@productHistory.History.Date}
                            catch { }
                            </td>
                            <td>
                                @try
                                {@productHistory.CreatorEmail}
                            catch { }
                            </td>
                            <td>
                                @try
                                {@productHistory.History.Product.SerialNumber}
                            catch { }
                            </td>
                            <td><a a href="#addHistory" data-toggle="collapse" onclick="EditHistoryInformation('@productHistory.History.ProductID','@productHistory.History.Date.ToString()','@productHistory.History.UserID','@productHistory.History.HistoryID','@productHistory.History.Comment')">Edit</a> / <a href="@Url.Action("Delete", "ProductHistory", new { productId = productHistory.History.ProductID, userId = productHistory.History.UserID, date = productHistory.History.Date, historyId= productHistory.History.HistoryID })">Delete</a>  </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>










