@model LUNA.Models.Product
@using Angle.Helpers

@{
    ViewData["Title"] = "Product Detail";
    List<LUNA.Models.Product> childs = ViewBag.childs;
    List<Angle.Models.ViewModels.ProductHistoryViewModels.ProductHistoryViewModelDetail> histories = ViewBag.histories;
    List<LUNA.Models.Models.ProductHistory> HistoryFiles = ViewBag.Files;
    var myQR = ViewBag.QrCode; 
}





<div class="content-heading">
    <div>@Model.SerialNumber <small>Product Detail</small></div>
</div>
<div class="row">
    <div class="col-xl-6">
        <div class="card mb-3 border-info">
            <div class="btn-group mb-1 float-right">
                <button class="btn dropdown-toggle btn-info" type="button" data-toggle="dropdown">Product Options</button>
                <div class="dropdown-menu" role="menu">
                    <a class="dropdown-item" href="@Url.Action("Edit", "Product",new { id = Model.ID})">Edit</a><a class="dropdown-item" href="@Url.Action("Clone", "Product",new { id = Model.ID})">Clone</a>
                    <div class="dropdown-divider"></div><a class="dropdown-item" href="@Url.Action("Delete", "Product",new { id = Model.ID})">Delete</a>
                </div>
            </div>




            <div class="card-body">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card mb-3 border-primary">
                            <div class="card-header text-white bg-primary">Product</div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-8">
                                        <dl class="row">
                                            <dt class="col-sm-3">Type:</dt>
                                            <dd class="col-sm-9">
                                                @try
                                                {@Model.Type.Name}
                                            catch
                                            {<text>---</text>}
                                            </dd>
                                            <dt class="col-sm-3">Serial Number:</dt>
                                            <dd class="col-sm-9">
                                                @try
                                                {@Model.SerialNumber}
                                            catch
                                            { <text>---</text>}
                                            </dd>
                                            <dt class="col-sm-3">Description:</dt>
                                            <dd class="col-sm-9">
                                                @try
                                                {@Model.Description}
                                            catch
                                            {<text>---</text>}
                                            </dd>
                                            <dt class="col-sm-3">Customer: </dt>
                                            <dd class="col-sm-9">
                                                @try
                                                {@Model.Customer.CompanyName}
                                            catch
                                            {<text>---</text>}
                                            </dd>
                                            <dt class="col-sm-3">Project: </dt>
                                            <dd class="col-sm-9">
                                                @try
                                                {@Model.Project.Description}
                                            catch
                                            { <text>---</text>}
                                            </dd>
                                            <dt class="col-sm-3">Stock Info: </dt>
                                            <dd class="col-sm-9">
                                                @try
                                                {@Model.StockInformation.Description}
                                            catch
                                            { <text>---</text>}
                                            </dd>
                                        </dl>
                                    </div>
                                    <div class="col-4 float-right">


                                        @myQR

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card mb-3 border-success">
                            <div class="card-header text-white bg-success">Specs</div>
                            <div class="card-body">
                                <dl class="row">
                                    @foreach (var myattribute in Model.ProductAttributes)
                                    {
                                        <dt class="col-sm-3">@myattribute.Attribute.Name :</dt>
                                        <dd class="col-sm-9">@myattribute.Value</dd>
                                    }
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card mb-3 border-warning">
                            <div class="card-header text-white bg-warning">Components</div>
                            <div class="card-body">
                                <table class="table table-striped my-4 w-100" id="datatable2">
                                    <thead>
                                        <tr>
                                            <th>Type</th>
                                            <th>Serial Number</th>
                                            <th>Option</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var child in childs)
                                        {
                                            <tr>
                                                <td>@child.Type.Name</td>
                                                <td>@child.SerialNumber</td>
                                                <td><a href="@Url.Action("Detail", "Product",new { id = child.ID})">Detail</a></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-6">
        <div class="card mb-3 border-info">
            <a href="#addHistory" role="button" aria-expanded="false" data-toggle="collapse" class="float-right btn btn-info"><em class="fa-1x mr-2 fas fa-plus-circle"></em>ADD History</a>
            <div class="card-body">
                <div id="addHistory" class="card collapse">
                    <div class="card-header">
                        <div class="card-title" id="productDescription">Add an History to: @Model.SerialNumber  @Model.Type.Description</div>
                        <div class="text-sm"></div>
                    </div>
                    <div class="card-body">
                        <form id="formproducthistory" enctype="multipart/form-data" role="form" asp-controller="Product" asp-action="AddHistory">
                            <input type="hidden" id="useremail" name="Email" value="@User.Identity.Name" />
                            <input id="productID" type="hidden" name="ProductID" value="@Model.ID" />
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Product History <a href="#addHistorytype" data-toggle="collapse" class="icon-plus"></a></label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <select id="historytypes" name="HistoryID" class="form-control">
                                        @foreach (LUNA.Models.History history in @ViewBag.HistoryType)
                                        {
                                            <option value="@history.ID" class="bg-@history.BootStrapBadge-light"> @history.Description </option>
                                        }
                                    </select>
                                    <span class="field-validation-error">  </span>
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                    Comment <span class="required">*</span>
                                </label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <textarea name="Comment" id="comment" required="required" class="form-control"></textarea>
                                    <span class="field-validation-error"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="File">
                                    File
                                </label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input name="UploadFile" type="file" />
                                    <span class="field-validation-error"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button href="#addHistory" data-toggle="collapse" class="btn btn-primary">Cancel</button>
                                    <button id="buttonhistory" type="submit" class="btn btn-success">Submit</button>
                                </div>
                                <span class="text-success float-right" id="historyaddedsuccess"></span>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col collapse" id="addHistorytype">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title" id="productDescription">Create a new History Type</div>
                            <div class="text-sm"></div>
                        </div>
                        <div class="card-body">
                            <form asp-action="CreateOnPost" asp-controller="History" id="formhistorytype" data-parsley-validate class="form-horizontal form-label-left">
                                <div class="form-group">
                                    <label name="Description" class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Description <span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input name="Description" type="text" id="title" required="required" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label name="BootStrapBadge" class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Signalisation<span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <select id="badgecolor" name="BootStrapBadge" class="form-control">
                                            <option value="primary" class="bg-primary-light">primary</option>
                                            <option value="success" class="bg-success-light">success</option>
                                            <option value="danger" class="bg-danger-light">danger</option>
                                            <option value="warning" class="bg-warning-light">warning</option>
                                            <option value="info" class="bg-info-light">info</option>
                                            <option value="light" class="bg-gray-lighter">lighter</option>
                                            <option value="inverse" class="bg-inverse-light">dark</option>
                                            <option value="pink" class="bg-pink-light">pink</option>
                                            <option value="purple" class="bg-purple-light">purple</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        <button href="#addHistorytype" data-toggle="collapse" class="btn btn-primary">Cancel</button>
                                        <button id="submithistorytype" type="submit" class="btn btn-success">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>





                <div id="historytable">
                    <partial name="_HistoryTable" for="@histories" />
                </div>

             
                <div class="card card-default">
                    <div class="card-header">
                        <div class="card-title">Files <input class="form-control float-right" type="text" id="searchfiles" placeholder="Search..." /></div> 
                    </div><!-- START list group-->

                    <div class="list-group" id="fileslist">
                        @foreach (var historyfile in HistoryFiles)
                        {
                            string fName = @System.IO.Path.GetFileNameWithoutExtension(@System.IO.Path.GetFileName(historyfile.File.RelativPath));
                            string fExt = @System.IO.Path.GetExtension(@System.IO.Path.GetFileName(historyfile.File.RelativPath));
                            string fNameOutHash = fName.Remove(fName.Length - 6);
                            string fullNameOutHash = String.Concat(fNameOutHash, fExt);
                            <!-- START list group item-->
                            <div class="list-group-item">
                                <div class="media">
                                    <div class="align-self-start mr-2"><span class="badge badge-pill badge-@historyfile.History.BootStrapBadge">@historyfile.History.Description</span></div>
                                    <div class="media-body text-truncate">
                                        <p class="mb-1"><a  class="text-purple m-0" href="@Url.Action("GetMyFile", "Product", new { filename = @System.IO.Path.GetFileName(historyfile.File.RelativPath), mimetype = @historyfile.File.Format })"  >@fullNameOutHash</a></p>
                                        <p class="m-0"><small>@historyfile.Comment</small></p>
                                    </div>
                                    <div class="ml-auto"><small class="text-muted ml-2"><b>@historyfile.User.FirstName @historyfile.User.LastName</b><br /><b>@historyfile.Date.ToString("dd/MM/yyyy")</b><br/>@historyfile.File.Format -   @historyfile.File.Size bytes</small></div>
                                </div>
                            </div><!-- END list group item-->
                        }
                    </div><!-- END list group-->
                    <!-- START card footer-->
                    <!-- <div class="card-footer"><a class="text-sm" href="#">Load more</a></div><!-- END card-footer-->
                </div>


            </div>
        </div>
    </div>

    <div class="col-xl-6">
        <div class="card mb-3 border-info">
            <!--   <a href="#addHistory" role="button" aria-expanded="false" data-toggle="collapse" class="float-right btn btn-info"><em class="fa-1x mr-2 fas fa-plus-circle"></em>ADD History</a>
            <div class="card-body">
                <div id="addHistory" class="card collapse">
                    <div class="card-header">
                        <div class="card-title" id="productDescription">Add an History to: @Model.SerialNumber  @Model.Type.Description</div>
                        <div class="text-sm"></div>
                    </div>
                     <div class="card-body">
                    <div class="row">

                          <div class="col-md-9">

        <form method="post" enctype="multipart/form-data" role="form" asp-action="Upload" asp-controller="Product">
            <div>
                <input name="File" type="file" />
                <input name="Description" type="text" placeholder="file description" />
                <input type="text" name="ProductID" hidden value="@Model.ID" />
                <input type="hidden" name="Email" value="@User.Identity.Name" />
                <input type="submit" value="upload" />
            </div>
        </form>

    </div>

                </div>
                    </div> -->
        </div>
                





              

            </div>
        </div>
    </div>








    @section styles{
        <link rel="stylesheet" href="~/vendor/datatables.net-bs4/css/dataTables.bootstrap4.css">
        <link rel="stylesheet" href="~/vendor/datatables.net-keytable-bs/css/keyTable.bootstrap.css">
        <link rel="stylesheet" href="~/vendor/datatables.net-responsive-bs/css/responsive.bootstrap.css">
        <link rel="stylesheet" href="~/vendor/dropzone-5.7.0/dist/dropzone.css" />
       
    }

    @section scripts{
        <script src="~/vendor/datatables.net/js/jquery.dataTables.js"></script>
        <script src="~/vendor/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/dataTables.buttons.js"></script>
        <script src="~/vendor/datatables.net-buttons-bs/js/buttons.bootstrap.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.colVis.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.flash.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.html5.js"></script>
        <script src="~/vendor/datatables.net-buttons/js/buttons.print.js"></script>
        <script src="~/vendor/datatables.net-keytable/js/dataTables.keyTable.js"></script>
        <script src="~/vendor/datatables.net-responsive/js/dataTables.responsive.js"></script>
        <script src="~/vendor/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
        <script src="~/vendor/jszip/dist/jszip.js"></script>
        <script src="~/vendor/pdfmake/build/pdfmake.js"></script>
        <script src="~/vendor/pdfmake/build/vfs_fonts.js"></script>
        <script>
            function resizeMyQR(sizeinpx) {
                document.getElementById("qrcodegenerated").width = sizeinpx;
            }
        </script>

        <script type="text/javascript">
                var table1 = $('#datatable3').DataTable({
            'paging': true,
            'ordering': true,
                    'info': true,
            "orderSequence": ["desc", "asc"],
    responsive: true,
                    stateSave: false,
            oLanguage: {
                sSearch: 'Search all columns:',
                sLengthMenu: '_MENU_ records per page',
                info: 'Showing page _PAGE_ of _PAGES_',
                zeroRecords: 'Nothing found - sorry',
                infoEmpty: 'No records available',
                infoFiltered: '(filtered from _MAX_ total records)',
                oPaginate: {
                    sNext: '<em class="fa fa-caret-right"></em>',
                    sPrevious: '<em class="fa fa-caret-left"></em>'
                }
            },
            keys: true
});




                $('#buttonhistory').click(function (evt) {
                    evt.preventDefault();
                    $('#historyaddedsuccess').html("");
                    $.ajax({
                        type: "POST",
                        url: '/Product/QuickAddHistory',
                        data: $('#formproducthistory').serialize(),
                        dataType: 'application/json',
                        async:false,
                        cache: false,
                        success: function (data, status) {
                            alert("Hello");
                        },
                        error: function (data, status) {

                        },
                    });
                    console.log($('#formproducthistory').serialize());
                    $('#historyaddedsuccess').html("History was succesfully added");


                    var url = '@Url.Action("HistoryTable", "Product", new { id = Model.ID})';

                    table1.destroy();
                    $("#historytable").load(url, function () {

                                         var table1 = $('#datatable3').DataTable({
            'paging': true,
            'ordering': true,
                                             'info': true,
            "orderSequence": ["desc", "asc"],
    responsive: true,
                    stateSave: false,

            oLanguage: {
                sSearch: 'Search all columns:',
                sLengthMenu: '_MENU_ records per page',
                info: 'Showing page _PAGE_ of _PAGES_',
                zeroRecords: 'Nothing found - sorry',
                infoEmpty: 'No records available',
                infoFiltered: '(filtered from _MAX_ total records)',
                oPaginate: {
                    sNext: '<em class="fa fa-caret-right"></em>',
                    sPrevious: '<em class="fa fa-caret-left"></em>'
                }
            },
            keys: true
});

                    });





                });

        </script>
        <script>
            $('#submithistorytype').click(function (evt) {
                evt.preventDefault();
                $.ajax({
                    type: "POST",
                    url: '/History/CreateOnPost',
                    data: $('#formhistorytype').serialize(),
                    dataType: "json",
                    cache: false,
                    success: function (data) {
                        console.log(data);
                        let dropdown = $('#historytypes');
                        dropdown.empty();
                        dropdown.prop('selectedIndex', 0);
                        $.each(data, function (key, entry) {
                            dropdown.append($('<option></option>').attr('value', entry.id).attr('class', 'bg-' + entry.bootStrapBadge + '-light').text(entry.description));
                        })
                        /*  var item = '<option value ="' + data.id + '">' + data.name + '</option>';
                          $('#multiSelect').append(item);
                          $("#multiSelect").trigger("chosen:updated");
                          $('#attributesucces').html('Attribute was added successfully');*/
                    }
                });
            });


        </script>
       
        <script src="~/vendor/dropzone-5.7.0/dist/dropzone.js"></script>
        <script>
                 $(document).ready(function () {

                Dropzone.options.uploader = {

                    paramName: "files",

                    maxFilesize: 100,

                    accept: function (file, done) {

                        if (file.name == "test.jpg") {

                            alert("Can't upload a test file.");

                        }

                        else {

                            //Show a confirm alert and display the image on the page.

                        }

                    }

                };

            });

        </script>
        <script>
            $(document).ready(function () {
                $("#searchfiles").on("keyup", function () {
                    var value = $(this).val().toLowerCase();
                    $("#fileslist .list-group-item").filter(function () {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });
            });
        </script>
    }
