@model IEnumerable<LUNA.Models.Models.Person>
@{
    ViewData["Title"] = "Stock Information";
}

@section styles{
    <link rel="stylesheet" href="~/vendor/datatables.net-bs4/css/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="~/vendor/datatables.net-keytable-bs/css/keyTable.bootstrap.css">
    <link rel="stylesheet" href="~/vendor/datatables.net-responsive-bs/css/responsive.bootstrap.css">
    <style>
        .filters input {
            width: 100%;
            padding: 3px;
            box-sizing: border-box;
        }
    </style>
}

@section scripts{
    <script src="~/vendor/datatables.net/js/jquery.dataTables.js"></script>
    <script src="~/vendor/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
    <script src="~/vendor/datatables.net-buttons/js/dataTables.buttons.js"></script>
    <script src="~/vendor/datatables.net-buttons-bs/js/buttons.bootstrap.js"></script>
    <script src="~/vendor/datatables.net-buttons/js/buttons.colVis.js"></script>
    <script src="~/vendor/datatables.net-buttons/js/buttons.flash.js"></script>
    <script src="~/vendor/datatables.net-buttons/js/buttons.html5.js"></script>
    <script src="~/vendor/datatables.net-buttons/js/buttons.print.js"></script>
    <script src="~/vendor/datatables.net-keytable/js/dataTables.keyTable.js"></script>
    <script src="~/vendor/datatables.net-responsive/js/dataTables.responsive.js"></script>
    <script src="~/vendor/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/vendor/jszip/dist/jszip.js"></script>
    <script src="~/vendor/pdfmake/build/pdfmake.js"></script>
    <script src="~/vendor/pdfmake/build/vfs_fonts.js"></script>


}

<div class="content-heading">
    <div class="row"></div>
    <div class="col">
        Contacts<small></small>
    </div>
    <div class="col">
        <a class="float-right" href="@Url.Action("Create", "Person")"><button type="button" class="btn btn-oval btn-info"> <span class="fa-1x mr-2 fas fa-plus-circle"></span>NEW</button></a>
    </div>
</div>
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <div class="card-title"> <small>Contact Lists</small></div>
            <div class="text-sm"></div>
        </div>
        <div class="card-body">
            <div id="printbuttons"></div><br />
            <div id="togglecolumn" class="btn-group-toggle" data-toggle="buttons">
                <!-- See master/js/datatable.js at the end of file for toggle button function-->
            </div>
            <table class="table table-striped my-4 w-100" id="datatable2">
                <thead>
                    <tr class="tableheader">
                        <th>Customer</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Customer Phone</th>
                        <th>Cell Phone</th>
                        <th>Language</th>
                        <th>Options</th>
                    </tr>
                    <tr class="filters" style="width: 100%;padding: 3px;box-sizing: border-box;">
                        <th>Customer</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Customer Phone</th>
                        <th>Cell Phone</th>
                        <th>Language</th>
                        <th hidden>Options</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var person in Model)
                    {
                        <tr>
                            <td>
                                @try
                                {@person.Customer.CompanyName}
                            catch { }
                            </td>
                            <td>
                                @try
                                {@person.FirstName @person.LastName}
                            catch { }
                            </td>
                            <td>
                                @try
                                {@person.Email}
                            catch { }
                            </td>

                            <td>
                                @if (person.InternNumber != null)
                                {
                                    @person.InternNumber
                                }
                                else
                                {
                                    try
                                    {@person.Customer.PhoneNumber}
                                catch { }
                            }
                            </td>
                            <td>
                                @try
                                {@person.CellPhoneNumber}
                            catch { }
                            </td>
                            <td>
                                @try
                                {@person.Language}
                            catch { }
                            </td>
                            <td><a href="@Url.Action("Edit", "Person",new { id = person.ID })">Edit</a> / <a href="@Url.Action("Delete", "Person", new { id = person.ID })">Delete</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>








