@model Angle.Models.ViewModels.AccountViewModel.UserClaimsViewModel

<form method="post">
    <div class="card">
        <div class="card-header">
            <h2>Manage User Claims</h2>
        </div>
        <div class="card-body">
            @foreach (var claim in Model.Claims)
            {
                <div class="form-check m-1">
                    <input type="hidden" asp-for="@claim.ClaimType" />
                    <input asp-for="@claim.IsSelected" class="form-check-input" />
                    <label class="form-check-label" asp-for="@claim.IsSelected">
                        @claim.ClaimType
                    </label>
                </div>
            }
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="card-footer">
            <input type="submit" value="Update" class="btn btn-primary"
                   style="width:auto" />
            <a asp-action="EditUser" asp-route-id="@Model.UserId"
               class="btn btn-primary" style="width:auto">Cancel</a>
        </div>
    </div>
</form>