@model List<Angle.Models.ViewModels.AccountViewModel.UserRolesViewModel>

@{
    var userId = ViewBag.userId;
}

<form method="post">
    <div class="card">
        <div class="card-header">
            <h2>Manage User Roles</h2>
        </div>
        <div class="card-body">
            @foreach (var role in Model)
            {
                <div class="form-check m-1">
                    <input type="hidden" asp-for="@role.RoleId" />
                    <input type="hidden" asp-for="@role.RoleName" />
                    <input asp-for="@role.IsSelected" class="form-check-input" />
                    <label class="form-check-label" asp-for="@role.IsSelected">
                        @role.RoleName
                    </label>
                </div>
            }
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="card-footer">
            <input type="submit" value="Update" class="btn btn-primary"
                   style="width:auto" />
            <a asp-action="EditUser" asp-route-id="@userId"
               class="btn btn-primary" style="width:auto">Cancel</a>
        </div>
    </div>
</form>